<div class="center hero-unit">
  <h1>Welcome to Products App</h1>

  <h2> Application to handle and manage Products.    
    <a href="<%= product_list_path %>">View list of products</a> will list all available products.
  </h2>
  
</div>