// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

html {
	overflow-y: scroll;
}

body {
	padding-top: 50px;
}

h1, h2,h5 {
  line-height: 2;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

#logo {
	float: left;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
	font-size: 28px;
	padding-top: 10px;
	color: #fff;

	&:hover {
		color: #ccc;
		text-decoration: none;
	}
}